@using EntityLayerr.Concrete
@model List<Admin>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="table table-hover">
    <tr>
        <th></th>
        <th>Kullanıcı Mail</th>
        <th>Yetki</th>
        <th>Status</th>
        <th>Pasif Yap</th>
        <th>Yetkisini Değiştir</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <th>@x.AdminiD</th>
            <td>@x.AdminUserName</td>
            <td>@x.AdminRole</td>
            <td>aktif</td>        
            <td><a href="/AdminCategory/DeleteCategory/@x.AdminiD" class="btn btn-danger">Pasif Yap</a></td>
            <td><a href="/Authorization/EditAdmin/@x.AdminiD" class="btn btn-warning">Yetkisini Değiştir</a></td>

        </tr>
    }
</table>
<a href="/Authorization/AddAdmin" class="btn btn-info">Yeni Admin Tanımla</a>

