
@using EntityLayerr.Concrete
@model List<Category>

@{
    Layout = null;
}

<!DOCTYPE html>

<title>Kategori Listesi</title>

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />


<br />
<table class="table table-hover" style="margin-left:10px;">
    <tr>
        <th>Id</th>
        <th>Ad</th>
        <th>Durum</th>
    </tr>
    @foreach (var item in Model)
    {
       <tr>
           <td>@item.CategoryiD</td>
           <td>@item.CategoryName</td>
           <td>@item.CategoryStatus</td>
       </tr>
    }
</table>

<br />
<a href="/Category/AddCategory" class="btn btn-info">Kategori Ekle</a>