
@{
    Layout = null;
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<h3 style="margin-left:675px;"> Tablo Örneği </h3>

<br />

<table class="table table-hover" style="margin-left:15px;">
    <tr>
        <th>ID</th>
        <th>Adı</th>
        <th>Aciklama</th>
        <th>Durum</th>
        
    </tr>
    <tr>
        <th>1</th>
        <td>Egitim</td>
        <td>Acıklama</td>
        <td>True</td>
        <td><button class="btn btn-success">Güncelle</button></td>
    </tr>
                @*Ornek Sayfa*@
    <tr>                
        <th>2</th>
        <td>Spor</td>
        <td>Spor</td>
        <td>Spor</td>
        <td><button class="btn btn-success">Güncelle</button></td>
    </tr>
    <tr>
        <th>3</th>
        <td>Spor</td>
        <td>Spor</td>
        <td>True</td>
        <td><button class="btn btn-success">Güncelle</button></td>
    </tr>

</table>

<button class="btn btn-info" style="margin-left:15px;"> Yeni Kategori</button>
<button class="btn btn-warning" style="margin-left:15px;">Kategori Listesi </button>
<button class="btn btn-danger" style="margin-left:15px;">Kategori Acıklamaları </button>
